.bookingCardContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aliceblue;
    box-shadow: 8px 4px 10px 0px rgba(0, 0, 0, 0.315);
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 8px;
    gap: 8px;
}

.bookingHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bookingName{
    text-align: center;
}

.textWithIconsBooking{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    color: #2A5865;
}

.textWithIconsBooking svg path{
    fill: #2A5865;
}

.bookingName{
    font-size: 1.2rem;
    font-weight: 700;
}

.assignedTables{
    text-align: center;
    font-size: 0.9rem;
    color: #2A5865;
}