@media only screen and (max-width: 767px) {
    .cards{
        display: flex;
        flex-direction: column;
        gap: 150px;
        width: 100%;
        align-items: center;
    }

    #root{
        overflow-x: hidden;
    }
    
    .landingMainSection{
        width: 100%;
        height: 85vh;
        background-image: url('Background.png');
        background-size: cover, contain;
        padding: 10% 5%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .landingMainSection h1{
        line-height: 2ch;
        font-weight: 700;
        color: var(--primary-color);
        font-size: calc(5vw + 1rem);
    }
    
    .landingMainSection p{
        line-height: 2ch;
        font-weight: 100;
        color: #2a5865b7;
        margin-top: 20px;
        font-size: calc(1vw + 0.6rem);
        width: 80%;
    }
    
    .landingMainSectionButton{
        margin-top: 70px;
        background-color: var(--primary-button-color);
        padding: 12px 10%;
        font-size: 4vw;
        border-radius: 6px;
        color: #ffff;
        font-weight: 700;
        width: 55%;
        text-align: center;
        height: f;
    }
    

    
    .firstSeparator{
        width: 100%;
        height: 5%;
        background-color: var(--primary-color);
        position: absolute;
        transform: translateY(-100%);
        clip-path: polygon(0% 100%, 0 0, 20% 3%, 35% 45%, 100% 68%, 100% 100%);
        top: 0;
        left: 0;
        box-sizing: border-box;
    }

    .secondSeparator{
        width: 100%;
        height: 5%;
        position: absolute;
        background-color: var(--primary-color);
        transform: translate(0%, 100%);
        clip-path: polygon(100% 0%, 100% 100%, 80% 97%, 65% 55%, 0% 32%, 0% 0%);
        bottom: 0;
        left: 0;
        box-sizing: border-box;
    }
    
    .priceSection{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        background-color: var(--primary-color);
        padding: 8% 10%;
        gap: 150px;
        justify-content: center;
        border: none;
        position: relative;
    }
    
    .priceSection h2{
        text-align: center;
        font-size: 2.5rem;
        color: #ffff;
    }

    .aboutAppSection{
        padding: 15% 10% 5% 10%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 30%;
    }

    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cards{
        display: flex;
        flex-direction: column;
        gap: 150px;
        width: 100%;
        align-items: center;
    }

    #root{
        overflow-x: hidden;
    }
    
    .landingMainSection{
        width: 100vw;
        height: 85vh;
        background-image: url('Background.png');
        background-size: cover, contain;
        padding-top: 20%;
    }
    
    .landingMainSection h1{
        line-height: 2ch;
        font-weight: 700;
        color: var(--primary-color);
        font-size: calc(1vw + 2rem);
    }
    
    .landingMainSection p{
        line-height: 2ch;
        font-weight: 100;
        color: #2a5865b7;
        margin-top: 10px;
        font-size: calc(1vw + 0.8rem);
        width: 70%
    }
    
    .landingMainSectionButton{
        margin-top: 50px;
        background-color: var(--primary-button-color);
        padding: 12px 50px;
        font-size: calc(1vw + 1rem);
        border-radius: 6px;
        color: #ffff;
        font-weight: 700;
        margin-left: 10%;
    }
    
    .landingMainSection h1, 
    .landingMainSection p{
        margin-left: 10%;
    }
    
    .firstSeparator{
        width: 100%;
        height: 5%;
        background-color: var(--primary-color);
        position: absolute;
        transform: translateY(-100%);
        clip-path: polygon(0% 100%, 0 0, 20% 3%, 35% 45%, 100% 68%, 100% 100%);
        top: 0;
        left: 0;
        box-sizing: border-box;
    }

    .secondSeparator{
        width: 100%;
        height: 5%;
        position: absolute;
        background-color: var(--primary-color);
        transform: translate(0%, 100%);
        clip-path: polygon(100% 0%, 100% 100%, 80% 97%, 65% 55%, 0% 32%, 0% 0%);
        bottom: 0;
        left: 0;
        box-sizing: border-box;
    }
    
    .priceSection{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        background-color: var(--primary-color);
        padding: 8% 10%;
        gap: 150px;
        justify-content: center;
        border: none;
        position: relative;
    }
    
    .priceSection h2{
        text-align: center;
        font-size: 2.5rem;
        color: #ffff;
    }

    .aboutAppSection{
        padding: 15% 10% 5% 10%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 70px;
    }
    
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;
        width: 100%;
    }

    #root{
        overflow-x: hidden;
    }
    
    .landingMainSection{
        width: 100vw;
        height: 85vh;
        background-image: url('Background.png');
        background-size: cover, contain;
        padding-top: 10%;
    }
    
    .landingMainSection h1{
        line-height: 2ch;
        font-weight: 700;
        color: var(--primary-color);
    }
    
    .landingMainSection p{
        line-height: 2ch;
        font-weight: 100;
        color: #2a5865b7;
        margin-top: 10px;
        font-size: 1.37rem;
        width: 60%;
    }
    
    .landingMainSectionButton{
        margin-top: 50px;
        background-color: var(--primary-button-color);
        padding: 12px 50px;
        font-size: 1.37rem;
        border-radius: 6px;
        color: #ffff;
        font-weight: 700;
        margin-left: 10%;
    }
    
    .landingMainSection h1, 
    .landingMainSection p{
        margin-left: 10%;
    }
    
    .firstSeparator{
        width: 100%;
        height: 7%;
        background-color: var(--primary-color);
        position: absolute;
        transform: translateY(-100%);
        clip-path: polygon(0% 100%, 0 0, 20% 3%, 35% 45%, 100% 68%, 100% 100%);
        top: 0;
        left: 0;
        box-sizing: border-box;
    }

    .secondSeparator{
        width: 100%;
        height: 7%;
        position: absolute;
        background-color: var(--primary-color);
        transform: translate(0%, 100%);
        clip-path: polygon(100% 0%, 100% 100%, 80% 97%, 65% 55%, 0% 32%, 0% 0%);
        bottom: 0;
        left: 0;
        box-sizing: border-box;
    }
    
    .priceSection{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        background-color: var(--primary-color);
        padding: 8% 10%;
        gap: 100px;
        justify-content: center;
        border: none;
        position: relative;
    } 
    
    .priceSection h2{
        text-align: center;
        font-size: 2.5rem;
        color: #ffff;
    }

    .aboutAppSection{
        padding: 15% 10% 5% 10%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 50px;
    }
    
}

@media only screen and (min-width: 1200px) {
    .cards{
        display: flex;
        flex-direction: row;
        gap: 8%;
        width: 100%;
    }

    #root{
        overflow-x: hidden;
    }
    
    .landingMainSection{
        width: 100vw;
        height: 85vh;
        background-image: url('Background.png');
        background-size: cover, contain;
        padding-top: 10%;
    }
    
    .landingMainSection h1{
        line-height: 2ch;
        font-weight: 700;
        color: var(--primary-color);
    }
    
    .landingMainSection p{
        line-height: 2ch;
        font-weight: 100;
        color: #2a5865b7;
        margin-top: 10px;
        font-size: 1.37rem;
        width: 50%;
    }
    
    .landingMainSectionButton{
        margin-top: 50px;
        background-color: var(--primary-button-color);
        padding: 12px 50px;
        font-size: 1.37rem;
        border-radius: 6px;
        color: #ffff;
        font-weight: 700;
        margin-left: 10%;
    }
    
    .landingMainSection h1, 
    .landingMainSection p{
        margin-left: 10%;
    }
    
    .firstSeparator{
        width: 100%;
        height: 15%;
        background-color: var(--primary-color);
        position: absolute;
        transform: translateY(-100%);
        clip-path: polygon(0% 100%, 0 0, 20% 3%, 30% 45%, 100% 68%, 100% 100%);
        top: 0;
        left: 0;
        box-sizing: border-box;
    }

    .secondSeparator{
        width: 100%;
        height: 15%;
        position: absolute;
        background-color: var(--primary-color);
        transform: translate(0%, 100%);
        clip-path: polygon(100% 0%, 100% 100%, 80% 97%, 65% 55%, 0% 32%, 0% 0%);
        bottom: 0;
        left: 0;
        box-sizing: border-box;
    }
    
    .priceSection{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        background-color: var(--primary-color);
        padding: 8% 10%;
        gap: 150px;
        justify-content: center;
        border: none;
        position: relative;
    }
    
    .priceSection h2{
        text-align: center;
        font-size: 2.5rem;
        color: #ffff;
    }

    .aboutAppSection{
        padding: 15% 10% 5% 10%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
}

