h1 {
    font-size: 50px;
}

/* styles.css */
:root {
    --primary-color: #2A5865; /* Define el color primario */
    --secondary-color: #90BDC2; /* Define el color secundario */
    --primary-button-color: #BC8707;
}