.navBar{
    background-color: var(--primary-color);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    color: #FFFF;
    position: relative;
}

.navBar span {
    font-size: 2.2rem;
    font-weight: lighter;
}

.navButtons{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.navButtons a, 
.navButtons button{
    cursor: pointer;
    white-space: nowrap;
}

.navButtons button{
    background-color: var(--primary-button-color);
    padding: 8px 10px;
    border-radius: 4px;
    font-weight: 600;
}



@media only screen and (max-width: 767px) {
    .navButtons {
        display: none;
    }

    .dropDownMenu {
        position: absolute;
        background-color: var(--primary-color);
        height: 90vh;
        width: 100%;
        left: 0;
        bottom: 0;
        transform: translate(0%, 100%);
        display: flex;
        flex-direction: column;
        padding: 40px 10%;
        gap: 50px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, 0.1s ;
    }

    .dropDownMenu.visible {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navButtons {
        display: none;
    }

    .dropDownMenu {
        position: absolute;
        background-color: var(--primary-color);
        height: 90vh;
        width: 100%;
        left: 0;
        bottom: 0;
        transform: translate(0%, 100%);
        display: flex;
        flex-direction: column;
        padding: 40px 10%;
        gap: 50px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, 0.1s ;
    }

    .dropDownMenu.visible {
        visibility: visible;
        opacity: 1;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .dropDownMenuButton {
        display: none;
    }

    .dropDownMenu {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .dropDownMenuButton {
        display: none;
    }

    .dropDownMenu {
        display: none;
    }
}
